
#courseCarousel {
  width: 100%;
  height: 100%; 
}

.carousel-item img {
  width: 100%;
  height: 550px;
  object-fit: cover; 
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-size: 2rem 2rem;
  filter: invert(1); 
}

.carousel-indicators [data-bs-target] {
  background-color: #333; 
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.carousel-indicators .active {
  background-color: #fff; 
}

@media (max-width: 992px) {
  #courseCarousel {
    height: 50vh;
  }
}

@media (max-width: 576px) {
  #courseCarousel {
    height: 40vh;
  }
} 

