.swiper {
  width: 100%;          
  max-width: 1400px;     
  margin: 0 auto;       
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background: #f0f0f0;
  height: 600px;        
}

body{
  overflow-x:hidden;
}

/* .swiper-slide img {
  width: 100%;          
  object-fit: cover;    
  display: block;      
} */

.swiper-slide img {
  width: 100%;          /* reduce width */
  height: 550px;       /* reduce height */
  object-fit: cover;   /* crop neatly */
  display: block;      /* avoid inline gaps */
        /* center image */
}